# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/
version: 2.1

workflows:
  version: 2
  default:
    jobs:
      - build:
          matrix:
            parameters:
              xcode: ["11.7.0", "12.0.0"]
          filters:
            tags:
              only: /.*/

jobs:
  build:
    parameters:
      xcode:
        type: string
    macos:
      xcode: << parameters.xcode >>
    steps:
      - checkout
      - run:
          name: Test SPM
          command: |
            # xcodebuild will try to use the Package manifest if it cannot find a project 
            mkdir temp && mv MapboxMobileEvents.xcodeproj temp
            xcodebuild -scheme MapboxMobileEvents test -destination "platform=iOS Simulator,name=iPhone 11,OS=latest"
            mv temp/MapboxMobileEvents.xcodeproj . && rm -rf temp
      - run:
          name: Test
          command: xcodebuild -project MapboxMobileEvents.xcodeproj -scheme MMETestHost build test -destination 'platform=iOS Simulator,name=iPhone 11,OS=latest' GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES
      - run:
          name: Test CocoaPods
          command: |
            pod lib lint MapboxMobileEvents.podspec
            Tests/Integration/test_cocoapods.sh
      - run:
          name: Test Carthage
          command: |
            if [ "<< parameters.xcode >>" = "12.0.0" ]; then export XCODE_XCCONFIG_FILE=~/project/xcode-12-fix.xcconfig; fi
            Tests/Integration/test_carthage.sh
      - run:
          name: Test SPMXcode
          command: |
            Tests/Integration/test_spm_xcode.sh
      - when:
          condition:
            equal: [ "11.7.0", << parameters.xcode >> ]
          steps:
            - run:
                name: Codecov
                command: bash <(curl https://codecov.io/bash) -Z -t $CODECOV_TOKEN
